
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 200%;
}

strong
{
}

a
{
	color: #0000FF;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

img.border
{
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

.button-style {
    display: inline-block;
    height: 30px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    background-color: #f4f4f4;
    box-shadow: none;
    cursor: pointer;
    color: #464646;
    font-size: 12px;
    line-height: 30px;
	text-decoration: none;
    padding: 0 13px;
    margin-right: 5px;
    vertical-align: middle;
}

ul.style3
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style3 li
{
	padding: 0px 0px 5px 0px;
	margin: 0 0 1em 0;
}

ul.style3 p
{
	margin: 0;
}

ul.style3 a
{
	display: block;
	text-decoration: none;
	color: #6c6c6c;
}

ul.style3 a:hover
{
	text-decoration: underline;
}

ul.style3 h3
{
	padding: 8px 0em 5px 0em;
	text-transform: uppercase;
	font-size: 1.1em;
	font-weight: 700;
	color: #606060;
}

ul.style3-alt h3
{
	color: #FFFFFF;
}

ul.style3 .first
{
	padding-top: 0px;
	background: none;
}

ul.style3 .date
{
	float: left;
	position: relative;
	width: 60px;
	height: 54px;
	margin: 0em 1.5em 0em 0em;
	padding: 8px 0em 0em 0em;
	background: #99CCBB;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	border: 1px solid #8EBEAE;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	font-size: 1em;
	font-weight: 400;
	color: #FFF;
}

ul.style3 .date:after
{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

ul.style3 .date b
{
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 1.8em;
	font-weight: 700;
	color: #FFFFFF;
}

ul.style3 .date a
{
	color: #FFFFFF !important;
}

ul.style3 .date a:hover
{
	text-decoration: none;
}

	ul.style5
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

		ul.style5 li
		{
			clear: both;
			border-top: 1px solid #8EBEAE;
		}

		ul.style5 span
		{
			padding: 1em 0em;
			line-height: 1.75em;
		}

		ul.style5 .address
		{
			float: left;
			width: 80px;
			display: inline-block;
			font-weight: 600;
		}

		ul.style5 .address-01
		{
			float: left;
			display: inline-block;
		}

		ul.style5 .mail
		{
			float: left;
			width: 80px;
			display: inline-block;
			font-weight: 600;
		}

		ul.style5 .mail-01
		{
			display: inline-block;
		}

		ul.style5 .phone
		{
			float: left;
			width: 80px;
			display: inline-block;
			font-weight: 600;
		}

		ul.style5 .phone-01
		{
			float: left;
			display: inline-block;
		}

		ul.style5 .first
		{
			padding-top: 0em !important!;
			border-top: none;
		}
		
		
/** WRAPPER */

#wrapper-bg {
	overflow: hidden;
}

#wrapper {
	padding: 10px 10px 50px 10px;
	background: #FBFBFB;
	box-shadow: 0px 10px 0px rgba(0,0,0,0.03), 0px -10px 0px rgba(0,0,0,0.03);
}

.container
{
	width: 100%;
	min-width: 700px;
	max-width: 1200px;
	margin: 0px auto;
}

.container .headered-description h2 {
	color:#458500;
	margin: 20px 0px 0px 20px;
}

.clearfix
{
	clear: both;
}

.hr-top {
	border: none;
	background-color: red;
	color: red;
	height: 2px;
}

/** HEADER */

#header
{
	overflow: hidden;
	border-bottom: 1px solid #E7E7E7;
}

/** LOGO */

#logo
{/*
	float: left;
	width: 50;*/
}

#logo #lbox1
{
	float: left;
	width: 230px;
}

#logo #lbox2
{
	float: left;
	width: 400px;
}

#logo h1 a
{
	--display: block;
	line-height: 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.0em;
	color: #3E3E3E;
}

#logo span
{
	color: #458500;
}

/** MENU */

#menu
{
	/*float: right;
	width: 900px;*/
}

#menu ul
{
	float: right;
	margin: 0px;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
	border-left: 1px solid #E7E7E7;
}

#menu a
{
	display: block;
	padding: 10px 10px;
	margin: 0em 1em;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 1.10em;
	font-weight: 600;
	color: #458500;
}

#menu .active a
{
	background: #458500;
	border-radius: 1px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	color: #FFFFFF;
}

#menu .active a:hover
{
	background-color: #94C5B5;
}

#menu .active a:active
{
	background-color: #8EBEAE;
}

#menu a:hover
{
	text-decoration: none;
}

/** PAGE */

#page
{
}

/** CONTENT */

#content
{
}

/** SIDEBAR */

#sidebar
{
}

#banner {
	padding: 30px 30px;
	text-align: center;
}

#banner .long_img {
	margin-right: 30px
	
}

/* Three Column Content */

#three-column
{
	overflow: hidden;
	padding-top: 30px;
}

#three-column header
{
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-bottom: 2em;
	font-size: 1.5em;
}

#three-column .tbox1 h2, #three-column .tbox2 h2, #three-column .tbox3 h2
{
	margin-bottom: 1em;
	text-transform: uppercase;
	color: #202020;
}

#three-column .tbox1
{
	float: left;
	width: 384px;
	margin-right: 24px;
}

#three-column .tbox2
{
	float: left;
	width: 384px;
}

#three-column .tbox3
{
	float: right;
	width: 384px;
}

/* Main */

.page-main {
	background: #FBFBFB;
	font-size: 14px;
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;	
}

.page-main__content {
	color: #333;
	border-top: 1px solid #777;
	overflow: hidden;
	position: relative;
	padding: 10px 0px 7px 0px;
}

.page-main__content-feed {
	width: 100%;
	min-width: 400px;	
	margin: 0 50px;
}

.page-main__feed-header {
	font-size: 24px;
	color: #111;
}

.page-main__feed {
	margin: 0;
	margin-left: -50px;
	text-align: left;
	font-size: 14px;
	list-style: none;
}

.page-main__feed-element {
	display: block/*inline-block*/;
	padding:10px;
}

.page-main__feed-element-datetime {
	font-size: 12px;
	line-height: 1.1em;
	color: #777;
	margin: 0;
	padding: 0;
}

.page-main__feed-element-header {
	display: block;
	font-size: 20px;
	line-height: 2em;
	color: #111;
	margin:0;
	margin-top: -5px;
	margin-bottom: -5px;
}

.page-main__feed-element-description {
	display: block;
	margin: 0;
	min-height: 100px;
	margin-bottom: 10px;
}

.page-main__feed-element-logo {
	display: block;
	height: 100px;
	margin-right: 10px;
}


/* Footer */

.page-footer {
	background: #FBFBFB;
	font-size: 14px;
	line-height: 1.5em;
	font-family: 'Open Sans', sans-serif;
}

.page-footer__envato-bar-content {
	color: #333;
	border-top: 1px solid #777;
	overflow: hidden;
	position: relative;
	padding: 10px 0px 7px 0px;
}

.page-footer__envato-bar-content-about-us-column {
	float: left;
	width: 70%;
	min-width: 200px;
}

.page-footer__envato-bar-content-follow-column {
	float: right;
	min-width: 200px;
	padding-right: 20px;
}

.page-footer__about-us, .page-footer__follow-us{
	margin: 0;
	text-align: left;
	font-size: 12px;
	list-style: none;
}
.page-footer__follow-us {
	text-align: right;
}

.page-footer__about-us-element, .page-footer__follow-us-element {
	display: block/*inline-block*/;
}

.page-footer__about-us-element:first-child, .page-footer__follow-us-element:first-child {
	display: block;
	line-height: 2.0em;
	font-size: 24px;
	color: #111;
	margin-left: 0;
}

.page-footer__social-link {
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	float:right;
}

.page-footer__vk-link {
	background: url(../images/vk-logo2.png) no-repeat;
}

.page-footer__instagram-link {
	background: url(../images/instagram-logo.png) no-repeat;
}

.page-footer__envato-bar-content-disclamer {
	display: inline-block;
	border-top: 1px solid #777;
	margin-top: 20px;
	padding: 20px 40px 20px 40px;
}

.page-footer__disclamer {
	display: block;
	line-height: 1.3em;
	font-size: 11px;
	text-align: center;	
}

.toggleheader, .togglefooter {
	cursor: pointer;
}