/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.button {
		margin: 15px auto;
		float: none;
		max-width: 250px;
	}
	.main_mnu {
		height: 40px;
	}
	.main_mnu li a {
		font-size: 13px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header_logo {
		padding: 0px 5px;
	}
	.header_logo a {
		padding-right: 10px;
		line-height: 24px;
		font-size: 1.5em;
	}
	.header_logo-image {
		height: 45px;	
	}
	.header_menu {
		padding: 0px 0px; 
	}
	.main_mnu {
		height: auto;
	}
	.main_mnu ul {
		display: none;
		position: absolute;
		width: auto;
	}
	.main_mnu ul li {
		display: block;
	}	
	.main_mnu_button {
		display: inline-block !important;
	}
	.main_content {
		padding: 5px 5px 2px 5px;
	}
	.main_content-banner_item {
		width: 100%;
	}
	.main_content-label {
		line-height: 1em;
		margin-top: 3px;
	}
	.main_content-post {
		font-size: 16px;
	}
	.post-header {
		font-size: 22px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.header_midline {
		padding-top: 3px;
	}
	.header_topline {
		min-height: 50px;
	}
	.soc_buttons a {
		font-size: 32px;
	}
	.header_logo {
		display: none;
	}
	.header_topline-logo {
		display: block !important;
	}
	.main_content-banner_item:first-child {
		display: none;
	}
	.main_content-post {
		padding-top: 5px;
	}
	.post-logo {
		display: block;
		float:none;
		text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main_mnu ul {
		display: block !important;
	}
	.main_mnu_button {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}